<a href="https://colab.research.google.com/github/furkan54777/My_Assignment/blob/master/Assignment_01_Student_ipynb_adl%C4%B1_not_defterinin_kopyas%C4%B1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">Data Analysis with Python</p>

![Image_Assignment](https://i.ibb.co/cY9HhF7/bnote-assignment.gif)

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#4d77cf; font-size:200%; text-align:center; border-radius:10px 10px;">Assignment 01 (NumPy & Pandas Basics)</p>

<a id="toc"></a>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Content</p>

* [NUMPY SECTION](#0)
* [PANDAS SECTION](#1)

**In this assignment you will start off with Numpy Exercises and then complete the whole Exercise with Pandas questions. All the subjects related to questions here already covered in preclass materials and in-class sessions. So good luck!**

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Numpy Section</p>

<a id="0"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

### 1. Import NumPy Library.

In [ ]:
# YOUR CODE IS HERE

import numpy as np

### 2. Create an array from my_list = [5, 10, 15, 20, 25]

In [ ]:
# YOUR CODE IS HERE

my_list = np.array([5, 10, 15, 20, 25])
my_list

array([ 5, 10, 15, 20, 25])

Desired Output:

array([ 5, 10, 15, 20, 25])

### 3. Generate an array of 5x5 with zeros.

In [ ]:
# YOUR CODE IS HERE

np.zeros((5,5))

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

Desired Output:

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

### 4. Generate an array of 4x4 with ones and assign data type as int.

In [ ]:
# YOUR CODE IS HERE
np.ones((4,4), dtype = int)

array([[1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1]])

Desired Output:

array([[1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1]])

### 5. Make all the values of the array above with the value of 7.

In [ ]:
# YOUR CODE IS HERE
arr = np.ones((4,4), dtype = int)
arr[:] = 7
arr

array([[7, 7, 7, 7],
       [7, 7, 7, 7],
       [7, 7, 7, 7],
       [7, 7, 7, 7]])

Desired Output:

array([[7, 7, 7, 7],
       [7, 7, 7, 7],
       [7, 7, 7, 7],
       [7, 7, 7, 7]])

### 6. Create the previous array above by full() method.

In [ ]:
# YOUR CODE IS HERE

np.full((4, 4), 7, dtype = int)

array([[7, 7, 7, 7],
       [7, 7, 7, 7],
       [7, 7, 7, 7],
       [7, 7, 7, 7]])

Desired Output:

array([[7, 7, 7, 7],
       [7, 7, 7, 7],
       [7, 7, 7, 7],
       [7, 7, 7, 7]])

### 7. Create an array of even integers from 2 to 16 (inclusive).

In [ ]:
# YOUR CODE IS HERE
np.arange(2, 17, 2)

array([ 2,  4,  6,  8, 10, 12, 14, 16])

Desired Output:

array([ 2,  4,  6,  8, 10, 12, 14, 16])

### 8. Create a 5x5 matrix with the values between 0 to 25 (exclusive).

In [ ]:
# YOUR CODE IS HERE
np.arange(0,25).reshape(5,5)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

Desired Output:

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

### 9. Create a 5x5 matrix with the values between 0 to 25 (exclusive) using linspace method.

In [ ]:
# YOUR CODE IS HERE
np.linspace(0, 25, 25, endpoint = False , dtype = int).reshape(5,5)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

Desired Output:

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

### 10. Create randomly 5 numbers with numpy.

In [ ]:
# YOUR CODE IS HERE
np.random.rand(5)

array([0.51721193, 0.54697025, 0.59655308, 0.13271153, 0.88746231])

Desired Output (WATCH OUT! Your output will probably NOT be the same as the one below due to randomization):

array([0.69664494, 0.66387647, 0.97508534, 0.33818591, 0.58766187])

### 11. Create an array of 5*5 shape and fills it with random values as per the standard normal distribution.

In [ ]:
# YOUR CODE IS HERE

np.random.randn(5,5)

array([[-0.66426219, -1.15225406,  0.7684504 ,  0.01258263, -1.63863786],
       [-1.33666627,  0.94361963,  2.19327445,  0.50621895, -0.32899741],
       [-0.71461645, -0.24473405,  0.91872479,  0.79116115, -0.05297361],
       [ 1.08359345,  0.29384427,  0.11964905, -0.15849059, -1.81056664],
       [-0.67446141,  2.73194545,  2.44143649, -0.7965435 , -0.20912223]])

Desired Output (WATCH OUT! Your output will probably NOT be the same as the one below due to randomization):

array([[ 0.73087006, -0.34675846, -1.03601606, -0.61227298, -0.57078798],
       [ 1.85976917, -0.37158111, -1.16789003, -0.81271697,  1.39620977],
       [ 0.52695367, -0.19017673,  0.78067235, -1.3520313 ,  0.44878344],
       [ 0.27758877,  0.75391726, -0.52652875,  0.74519765, -0.40414682],
       [ 0.12743864, -0.81637521,  0.14086653, -0.29524574,  0.12703938]])

### 12. Create a 3*4 array of random int numbers between 20 and 50.

In [ ]:
# YOUR CODE IS HERE

np.random.randint(20, 50, size = (3,4))

array([[28, 40, 29, 30],
       [21, 39, 38, 20],
       [47, 47, 35, 47]])

Desired Output (WATCH OUT! Your output will probably NOT be the same as the one below due to randomization):

array([[33, 39, 47, 26],
       [41, 20, 32, 23],
       [25, 22, 41, 28]])

### 13. Create an array named "ranarr"consisting of randomly 48 numbers and reshape this array with the shape of 6x8 in different ways.

In [ ]:
# YOUR CODE IS HERE
ranarr = np.random.randint(0,48, 48)
ranarr

array([21, 34, 35,  9, 20, 34, 47, 13, 35, 16,  7, 32, 40,  2, 10, 15,  7,
       11,  5, 45, 45, 29, 40,  2, 42, 19, 12, 29, 25,  1, 10,  6, 21,  1,
        1,  8,  1, 12, 38,  1, 20, 12, 17, 38, 28, 47, 46, 35])

Desired Output (WATCH OUT! Your output may NOT be the same as the one):

array([ 6, 21, 18, 53, 38, 37, 30, 47, 19, 44, 29, 12, 14, 37, 24, 14, 16,
       18,  3, 19, 19, 41, 28, 41,  3, 47,  4, 18, 27, 44, 15, 21,  5, 55,
       38,  9,  5, 50, 15, 20,  7, 26, 45, 39, 37, 23,  6, 10])

In [ ]:
# YOUR CODE IS HERE (RESHAPING WITH NUM)

ranarr.reshape(6,8)

array([[21, 34, 35,  9, 20, 34, 47, 13],
       [35, 16,  7, 32, 40,  2, 10, 15],
       [ 7, 11,  5, 45, 45, 29, 40,  2],
       [42, 19, 12, 29, 25,  1, 10,  6],
       [21,  1,  1,  8,  1, 12, 38,  1],
       [20, 12, 17, 38, 28, 47, 46, 35]])

Desired Output (WATCH OUT! Your output may NOT be the same as the one):

array([[ 6, 21, 18, 53, 38, 37, 30, 47],
       [19, 44, 29, 12, 14, 37, 24, 14],
       [16, 18,  3, 19, 19, 41, 28, 41],
       [ 3, 47,  4, 18, 27, 44, 15, 21],
       [ 5, 55, 38,  9,  5, 50, 15, 20],
       [ 7, 26, 45, 39, 37, 23,  6, 10]])

In [ ]:
# YOUR CODE IS HERE (RESHAPING WITH -1)

ranarr.reshape(6,8)

array([[21, 34, 35,  9, 20, 34, 47, 13],
       [35, 16,  7, 32, 40,  2, 10, 15],
       [ 7, 11,  5, 45, 45, 29, 40,  2],
       [42, 19, 12, 29, 25,  1, 10,  6],
       [21,  1,  1,  8,  1, 12, 38,  1],
       [20, 12, 17, 38, 28, 47, 46, 35]])

Desired Output (WATCH OUT! Your output may NOT be the same as the one):

array([[ 6, 21, 18, 53, 38, 37, 30, 47],
       [19, 44, 29, 12, 14, 37, 24, 14],
       [16, 18,  3, 19, 19, 41, 28, 41],
       [ 3, 47,  4, 18, 27, 44, 15, 21],
       [ 5, 55, 38,  9,  5, 50, 15, 20],
       [ 7, 26, 45, 39, 37, 23,  6, 10]])

## Numpy Indexing and Selection

### Create an array named "mat" in accordence with the desired output below.

In [ ]:
# YOUR CODE IS HERE 
mat = np.arange(1, 17).reshape(4,)
mat

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

Desired Output:

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

### 14. Using the array above, write a code that reproduces the desired output shown below.<br>

In [ ]:
# YOUR CODE IS HERE 
mat[1:3,1:3]

array([[ 6,  7],
       [10, 11]])

*Desired* Output:

array([[ 6,  7],
       [10, 11]])

### 15. Get the 1st column (index number 0) of the array above.

In [ ]:
# YOUR CODE IS HERE 
mat[:,0]

array([ 1,  5,  9, 13])

Desired Output:

array([ 1,  5,  9, 13])

### 16. Get the values in 2nd row (index number 1) for every 2 step.

In [ ]:
# YOUR CODE IS HERE 
mat[1:2:2,::2]

array([[5, 7]])

Desired Output:

array([5, 7])

### 17.Assign 77 to every cell in 3rd column.

In [ ]:
# YOUR CODE IS HERE 
mat[:,2] = 77
mat

array([[ 1,  2, 77,  4],
       [ 5,  6, 77,  8],
       [ 9, 10, 77, 12],
       [13, 14, 77, 16]])

Desired Output:

array([[ 1,  2, 77,  4],
       [ 5,  6, 77,  8],
       [ 9, 10, 77, 12],
       [13, 14, 77, 16]])

### 18. (a) Take 2nd row (index number 1) and 1st column (index number 0) , (b) 4th row (index number 3) and 3rd column (index number 2) .

In [ ]:
# YOUR CODE IS HERE 
mat[[1,3],[0,2]]

array([ 5, 77])

Desired Output:

array([ 5, 77])

### 19. Take between 2nd and last row with step 2 and between 1st and last column with step 2.

In [ ]:
mat

array([[ 1,  2, 77,  4],
       [ 5,  6, 77,  8],
       [ 9, 10, 77, 12],
       [13, 14, 77, 16]])

In [ ]:
# YOUR CODE IS HERE 
mat[1::2,0::2]

array([[ 5, 77],
       [13, 77]])

**Desired** Output:

array([[ 5, 77],
       [13, 77]])

## NumPy Operations

### 20. Get the sum of values smaller than 10 and values bigger than 12 in "mat".

In [ ]:
# LET US REMEMBER OUR ARRAY OF "mat" 

# YOUR CODE IS HERE 
mat

array([[ 1,  2, 77,  4],
       [ 5,  6, 77,  8],
       [ 9, 10, 77, 12],
       [13, 14, 77, 16]])

Desired Output:

array([[ 1,  2, 77,  4],
       [ 5,  6, 77,  8],
       [ 9, 10, 77, 12],
       [13, 14, 77, 16]])

In [ ]:
# LET US FIND THE VALUES SMALLER THAN 10 IN "mat" 

# YOUR CODE IS HERE 
mat1 = mat[(mat < 10)]
mat1

array([1, 2, 4, 5, 6, 8, 9])

Desired Output:

array([1, 2, 4, 5, 6, 8, 9])

In [ ]:
# LET US FIND THE VALUES BIGGER THAN 12 IN "mat" 

# YOUR CODE IS HERE 

mat2 =mat[(mat > 12)]
mat2

array([77, 77, 77, 13, 14, 77, 16])

Desired Output:

array([77, 77, 77, 13, 14, 77, 16])

In [ ]:
# LET US SUM THE VALUES SMALLER THAN 10 AND BIGGER THAN 12 IN "mat" 

# YOUR CODE IS HERE 

mat1 + mat2

array([78, 79, 81, 18, 20, 85, 25])

Desired Output:

array([78, 79, 81, 18, 20, 85, 25])

### 21. Get the standard deviation (std) of the result above.

In [ ]:
# YOUR CODE IS HERE 

np.std(mat1+ mat2)

29.700546274093877

Desired Output:

29.700546274093877

### 22. Get the sum of the 2nd column in the original "mat".

In [ ]:
# LET US REMEMBER OUR ARRAY OF "mat" 

# YOUR CODE IS HERE 

mat

array([[ 1,  2, 77,  4],
       [ 5,  6, 77,  8],
       [ 9, 10, 77, 12],
       [13, 14, 77, 16]])

Desired Output:

array([[ 1,  2, 77,  4],
       [ 5,  6, 77,  8],
       [ 9, 10, 77, 12],
       [13, 14, 77, 16]])

In [ ]:
# LET OBTAIN THE ORIGINAL ARRAY OF "mat" 

# YOUR CODE IS HERE 

mat[:,2] = 3,7,11,15
mat

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

Desired Output:

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

In [ ]:
# YOUR CODE IS HERE 

mat[:,1].sum()

32

Desired Output:

32

### 23. Get the median, mean and std of 3rd column in "mat".

In [ ]:
# LET US REMEMBER OUR ARRAY OF "mat" 

# YOUR CODE IS HERE 

mat

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

Desired Output:

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

In [ ]:
# LET US ASSIGN THE COLUMN WE ARE INTERESTED IN TO A VARIABLE 

# YOUR CODE IS HERE 

arr_col = mat[:,2].reshape(4,1)
arr_col

array([[ 3],
       [ 7],
       [11],
       [15]])

Desired Output:

array([[ 3],
       [ 7],
       [11],
       [15]])

In [ ]:
# WHAT IF WE ARE INTERESTED IN THE 3RD ROW? 

# YOUR CODE IS HERE 


arr_row = mat[2,:]
arr_row

array([ 9, 10, 11, 12])

Desired Output:

array([ 9, 10, 11, 12])

In [ ]:
# LET US GET MEDIAN VALUE 

# YOUR CODE IS HERE 

np.median(arr_col),np.median(arr_row)

(9.0, 10.5)

Desired Output:

9.0
10.5

In [ ]:
# LET US GET MEAN VALUE 

# YOUR CODE IS HERE 
np.mean(arr_col),np.mean(arr_row)

(9.0, 10.5)

Desired Output:

9.0
10.5

In [ ]:
# LET US GET STANDART DEVIATION (std) VALUE 

# YOUR CODE IS HERE 

np.std(arr_col),np.std(arr_row)

(4.47213595499958, 1.118033988749895)

Desired Output:

4.47213595499958
1.118033988749895

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Pandas Section</p>

<a id="1"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

### Import Pandas Library

In [ ]:
import pandas as pd

### Read Salaries.csv and take a look at the first 5 rows, df info and df statistical measurements.*

In [ ]:
# LET US READ Salaries.csv 

# YOUR CODE IS HERE 

df = pd.read_csv("Salaries.csv")
df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [ ]:
# LET US LOOK AT THE FIRST 5 ROWS 

# YOUR CODE IS HERE 

df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

Desired Output:

![image.png](https://i.ibb.co/6BTmGX8/assignment1a.png)

In [ ]:
# LET US GET A SAMPLE 

# YOUR CODE IS HERE 

df.sample()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
144598,144599,Recco Payne,Public Svc Aide-Public Works,6912.71,0.0,154.77,1396.44,7067.48,8463.92,2014,NaN,San Francisco,NaN

Desired Output (WATCH OUT! Your output may NOT be the same as the one):

![image.png](https://i.ibb.co/mcsCxxC/assignment1b.png)

In [ ]:
# YOUR CODE IS HERE 

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

Desired Output:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype  
---  ------            --------------   -----  
 0   Id                148654 non-null  int64  
 1   EmployeeName      148654 non-null  object 
 2   JobTitle          148654 non-null  object 
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64  
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object 
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [ ]:
# LET US GET SOME DESCRIPTIVE MEASUREMENTS  

# YOUR CODE IS HERE 
df.describe()

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Status
count,148654.000000,148045.000000,148650.000000,148650.000000,112491.000000,148654.000000,148654.000000,148654.000000,0.0,0.0
mean,74327.500000,66325.448840,5066.059886,3648.767297,25007.893151,74768.321972,93692.554811,2012.522643,NaN,NaN
std,42912.857795,42764.635495,11454.380559,8056.601866,15402.215858,50517.005274,62793.533483,1.117538,NaN,NaN
min,1.000000,-166.010000,-0.010000,-7058.590000,-33.890000,-618.130000,-618.130000,2011.000000,NaN,NaN
25%,37164.250000,33588.200000,0.000000,0.000000,11535.395000,36168.995000,44065.650000,2012.000000,NaN,NaN
50%,74327.500000,65007.450000,0.000000,811.270000,28628.620000,71426.610000,92404.090000,2013.000000,NaN,NaN
75%,111490.750000,94691.050000,4658.175000,4236.065000,35566.855000,105839.135000,132876.450000,2014.000000,NaN,NaN
max,148654.000000,319275.010000,245131.880000,400184.250000,96570.660000,567595.430000,567595.430000,2014.000000,NaN,NaN

Desired Output:

![image.png](https://i.ibb.co/ftMP67H/assignmnet1c.png)

### How many different year values are there?

In [ ]:
# YOUR CODE IS HERE 

df['Year'].value_counts()

2014    38123
2013    37606
2012    36766
2011    36159
Name: Year, dtype: int64

Desired Output:

2014    38123
2013    37606
2012    36766
2011    36159
Name: Year, dtype: int64

In [ ]:
# LET US FIND THE NUMBER OF UNIQUE VALUES IN THE COLUMN OF "Year"

# YOUR CODE IS HERE 

df["Year"].nunique()

4

Desired Output:

4

In [ ]:
# LET US FIND THE UNIQUE VALUES IN THE COLUMN OF "Year"

# YOUR CODE IS HERE 

df["Year"].unique()

array([2011, 2012, 2013, 2014])

Desired Output:

array([2011, 2012, 2013, 2014], dtype=int64)

### Print out max and avg values in the column of "Totalpay".

In [ ]:
# LET US FIND THE MAXIMUM TOTALPAY

# YOUR CODE IS HERE 

df.TotalPay.max()

567595.43

Desired Output:

567595.43

In [ ]:
# LET US FIND THE AVERAGE TOTALPAY

# YOUR CODE IS HERE 

df["TotalPay"].agg("mean")

74768.32197169267

Desired Output:

74768.321971703

### How many records in the TotalPay column are there bigger than avg TotalPay?

In [ ]:
# YOUR CODE IS HERE 
df[(df["TotalPay"] > df["TotalPay"].mean())]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
135701,135702,Christina S Jee,Nurse Practitioner,70635.61,0.00,6550.41,771.88,77186.02,77957.90,2014,NaN,San Francisco,NaN
135778,135779,Mary Ann T Abille,Special Nurse,60889.34,6815.67,9041.21,767.47,76746.22,77513.69,2014,NaN,San Francisco,NaN
135847,135848,Emilda E Reinosa,Special Nurse,76305.74,0.00,0.00,763.08,76305.74,77068.82,2014,NaN,San Francisco,NaN
135853,135854,David G Evans,Special Nurse,71178.15,2748.15,2354.40,762.81,76280.70,77043.51,2014,NaN,San Francisco,NaN
136063,136064,Nicole Joe,Special Nurse,61276.59,8538.44,5078.67,748.95,74893.70,75642.65,2014,NaN,San Francisco,NaN

Desired Output:

![image.png](https://i.ibb.co/nj84FbZ/assignment1d.png)

In [ ]:
# YOUR CODE IS HERE 
df[(df["TotalPay"] > df["TotalPay"].mean())]["Id"].count()

69489

Desired Output:

69489





How much does ALBERT PARDINI make money (including benefits)?

In [ ]:
df

In [ ]:
# YOUR CODE IS HERE 
df[df['EmployeeName'] == "ALBERT PARDINI"]["TotalPayBenefits"]

2    335279.91
Name: TotalPayBenefits, dtype: float64

Desired Output:

2    335279.91
Name: TotalPayBenefits, dtype: float64

### Who is the lowest paid person?

In [ ]:
# YOUR CODE IS HERE 

df.loc[df["TotalPay"].idxmin()][["Id","EmployeeName"]]

Id                 148654
EmployeeName    Joe Lopez
Name: 148653, dtype: object

Desired Output:

148653    Joe Lopez
Name: EmployeeName, dtype: object

### What are the unique Jobs in dataset?

In [ ]:
# YOUR CODE IS HERE 
df["JobTitle"].unique()

array(['GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY',
       'CAPTAIN III (POLICE DEPARTMENT)',
       'WIRE ROPE CABLE MAINTENANCE MECHANIC', ..., 'Conversion',
       'Cashier 3', 'Not provided'], dtype=object)

Desired Output:

array(['GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY',
       'CAPTAIN III (POLICE DEPARTMENT)',
       'WIRE ROPE CABLE MAINTENANCE MECHANIC', ..., 'Conversion',
       'Cashier 3', 'Not provided'], dtype=object)

### List the top 3 least common Jobs in the dataset.

In [ ]:
# YOUR CODE IS HERE 

df["JobTitle"].value_counts().tail(3)

COURT COMPUTER FACILITIES COORDINATOR             1
AUTOMOTIVE BODY AND FENDER WORKER SUPERVISOR I    1
VICTIM & WITNESS TECHNICIAN                       1
Name: JobTitle, dtype: int64

Desired Output:

COURT COMPUTER FACILITIES COORDINATOR             1
AUTOMOTIVE BODY AND FENDER WORKER SUPERVISOR I    1
VICTIM & WITNESS TECHNICIAN                       1
Name: JobTitle, dtype: int64

### How many people earned more than avg in 2012?

In [ ]:
# YOUR CODE IS HERE 
df[(df['TotalPayBenefits'] > df['TotalPayBenefits'].mean()) & (df['Year'] == 2012)]["Id"].count()

20366

Desired Output:

20366

### How many people have a title of Manager in their jobs?

In [ ]:

# USE APPLY FUNCTION

# YOUR CODE IS HERE 


sum(df["JobTitle"].apply(lambda x : True if ("MANAGER" in x.upper()) else False))

4110

Desired Output:

4110

### Take Id, EmployeeName, JobTitle, TotalPay and TotalPayBenefits columns with iloc and assign them as sal_new dataframe.

In [ ]:
# YOUR CODE IS HERE 
sal_new = df.iloc[:,[0,1,2,7,8]]
sal_new

,Id,EmployeeName,JobTitle,TotalPay,TotalPayBenefits
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,567595.43,567595.43
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),538909.28,538909.28
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),335279.91,335279.91
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,332343.61,332343.61
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",326373.19,326373.19
...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00
148650,148651,Not provided,Not provided,0.00,0.00
148651,148652,Not provided,Not provided,0.00,0.00
148652,148653,Not provided,Not provided,0.00,0.00
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",-618.13,-618.13

Desired Output:

![image.png](https://i.ibb.co/ZgFCbPm/assignment1e.png)

### Take the columns betweeen EmployeeName and TotalPayBenefits with loc and assign them as sal_new df.

In [ ]:
# YOUR CODE IS HERE 
sal_new = df.loc[:,["EmployeeName","JobTitle","TotalPay","TotalPayBenefits"]]
sal_new

,EmployeeName,JobTitle,TotalPay,TotalPayBenefits
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,567595.43,567595.43
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),538909.28,538909.28
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),335279.91,335279.91
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,332343.61,332343.61
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",326373.19,326373.19
...,...,...,...,...
148649,Roy I Tillery,Custodian,0.00,0.00
148650,Not provided,Not provided,0.00,0.00
148651,Not provided,Not provided,0.00,0.00
148652,Not provided,Not provided,0.00,0.00
148653,Joe Lopez,"Counselor, Log Cabin Ranch",-618.13,-618.13

Desired Output:

![image.png](https://i.ibb.co/s2CYS7H/assignment1f.png)

### Print out the names of the employees who earn more than min but less than avg.

In [ ]:
# YOUR CODE IS HERE 

df.loc[:,["EmployeeName", "TotalPayBenefits"]][(df.TotalPayBenefits > df.TotalPayBenefits.min()) & (df.TotalPayBenefits < df.TotalPayBenefits.mean())]

          EmployeeName  TotalPayBenefits
10806          KWE LEE          93691.15
10807   MIGUEL CARO JR          93682.74
10808    JOANNE MORRIS          93680.53
10809    LAYLA WELBORN          93676.88
10810          LE BANH          93675.39
...                ...               ...
148648     Leon Walker              0.00
148649   Roy I Tillery              0.00
148650    Not provided              0.00
148651    Not provided              0.00
148652    Not provided              0.00

[75649 rows x 2 columns]

Desired Output:

![image.png](https://i.ibb.co/mtNB2TX/assignment1g.png)

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

________